@charset "UTF-8";
/* CSS reset */
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.5 'Helvetica Neue',Tahoma,Arial,'Microsoft yahei',"Hiragino Sans GB",STXihei,SimSun,sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: none;
}

li {
  list-style: none;
}

input, select, textarea {
  outline: none;
  border: none;
  background: none;
}

textarea {
  resize: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

caption {
  text-align: left;
}

/*清浮动*/
